<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='toBuyController as list1'>
     <h2>To Buy:</h2>
     <ul>
       <!-- Use ng-repeat to loop through toBuyList and give a button to call buyItem function -->
       <li ng-repeat="item in list1.items">
         Buy {{item.quantity}} {{item.name}}
         <button ng-click="list1.buyItem($index);" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>Bought</button>
       </li>
     </ul>
     <!-- Use ng-if to show msg -->
     <div ng-if="!list1.items.length" class="emptyMessage">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller='alreadyBoughtController as list2'>
     <h2>Already Bought:</h2>
     <ul>
       <!-- Use ng-repeat to loop through boughtList and give a button to call cancelTransaction function -->
       <li ng-repeat="item in list2.items">
         Bought {{item.quantity}} {{item.name}}
         <button ng-click="list2.cancelTransaction($index);" class="btn btn-default"><span class="glyphicon glyphicon-ok"></span>Cancel</button>
       </li>
     </ul>
     <!-- Use ng-if to show msg -->
     <div ng-if="!list2.items.length" class="emptyMessage">Nothing bought yet.</div>
    </div>
  </div>
</div>

</body>
</html>
